# Rust build artifacts
/target

# LuaJIT build artifacts
/luajit/**/*.o
/luajit/**/*.so
/luajit/**/*.a

# LuaJIT clangd artifacts
/luajit/.cache/
/luajit/compile_commands.json

# VS code workspace config
.vscode

# Python virtualenv
/venv

# Testsuite output
/testsuite/out

# Libfoolang building artifacts
/testsuite/libfoolang/build
